@import '/fonts.css';

/* Общие стили  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.container {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px 0 20px;

}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 600;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}


/* Header  */

.header {
    height: 135px;
}

.header__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 135px
}


.logo {
    font-size: clamp(32px, 9vw, 86px);
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;/* ← Вот здесь задаётся расстояние между меню и иконкой */
}

.nav__list {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    display: flex;
    align-items: center;
    gap: 55px;
    list-style-type: none;


}

.header-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    color: transparent;
}


/* hero блок  */

.hero-section__title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
}


.hero {
    display: flex;
    background-image: url("img/hero-section-bkg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    min-height: 630px;

}

.hero__container {
    display: flex;
    background: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-width: 690px;
    min-height: 360px;
}

.hero-section__info {
    font-size: 20px;
    font-weight: 500;

}

.testimonials, .strong-points, .designers {
    display: none;
}






/* biography блок */


/* .biography h3 {
transform: rotate(-90.00deg);
} */

/* .biography__name {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
} */

.biography__role {
    font-size: 18px;
    font-weight: 500;
}

.biography blockquote {
    font-family: 'Bitter', serif;
    font-size: 20px;
}

/* designers блок */

.designers__name {
    font-weight: 700;
    text-transform: uppercase;
}

.designers__skills {
    font-weight: 700;
}

/* testimonials блок */
.testimonials p {
    font-weight: 700;
}

.testimonials blockquote {
    font-family: 'Bitter',serif;
    font-size: 32px;
}
/* strong-points блок */
/* .strong-points__list-title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
    } */
.strong-points__list {
    font-family: 'Bitter', serif;
    font-size: 34px;
    
}

footer {
    font-weight: 500;
}
.address a {
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.product__info  {
    font-size: 18px;
}

.product__info span {
    font-size: 24px;
    font-weight: 900;
}