@import 'fonts.css';

/* Общие стили  */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.container {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px 0 20px;

}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 600;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
}


/* Header  */

.header {
    height: 135px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 135px
}


.logo {
    font-size: clamp(32px, 8.03vw - 29.6px, 86px);
    line-height: 1.1;

}

.nav {
    display: flex;
}

.nav__list {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    margin: 0 20px 0 20px;
    display: flex;
    justify-content: center;
    gap: clamp(16px, 4vw, 55px);
    align-items: center;
    list-style-type: none;
    white-space: nowrap;


}

.header-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    color: transparent;
}


/* hero блок  */

.hero-section__title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
}


.hero {
    display: flex;
    background-image: url('../img/hero-section-bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    min-height: 630px;

}

.hero__container {
    display: flex;
    background: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-width: 690px;
    min-height: 360px;
}

.hero-section__info {
    font-size: 20px;
    font-weight: 500;

}




/* biography блок */


.biography {
    padding: 150px 137px;
}

.biography__container {
    display: flex;
    max-width: 1165px;
    padding: 0;
}

/*.biography__title {*/
/*  width: 12%;*/

.biography__title {
   
    writing-mode: sideways-lr;
    align-self: flex-start;
    margin: 0 80px 0 30px
}

.biography__image {
    width: 49%;
    object-fit: cover;
}


.biography__info {

    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*gap: 36px;*/
}

.biography__name {
    line-height: 1.34;
}

.biography__role {
    font-size: 18px;
    font-weight: 500;
    margin: 36px 0 60px 0;
    line-height: 1.17;
}

.biography__quote::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 0;
    width: 20px;
    height: 6px;
    background: #000;
}

.biography__quote {
    position: relative;
    font-family: 'Bitter', serif;
    font-size: 26px;
    max-width: 370px;
    line-height: 1.19;
}

/* designers блок */

.designers {
    padding-left: 20px;
}

.designers__container {
    display: grid;
    grid-template-areas:
        "title"
        "list";
    gap: 30px;
    justify-content: center;
    /* ← центрирует всю сетку */
}


.designers__title {
    grid-area: title;
    text-align: left;
    padding-left: 118px;
}

.designers__list {
    grid-area: list;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 572px repeat(3, 337px);
    gap: 20px;
    align-items: end;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    justify-self: center;
    max-width: 100%;
}

.designers__item {
    line-height: 1.18;


}

.designers__skills {
    font-weight: 700;
}

.designers__image {
    margin-bottom: 21px;
}

.designers__info {
    margin-left: 239px;
}


/* testimonials блок */

.testimonials {
    margin-top: 150px;
    margin-bottom: 150px;
}

.testimonials__container {
    display: grid;
    grid-template-columns: 11% 6% 32% min-content 30% 9%;
    justify-items: center;
}

.testimonials__site-name {
    font-weight: 700;
}

.testimonials__site {
    writing-mode: sideways-lr;
}

.testimonials__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.testimonials__big-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials__title {
    writing-mode: sideways-lr;
    align-self: flex-start;
    margin: 0px 68px 0 25px
}


.testimonials__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.testimonials__img {
    margin-top: 42px;
}



.testimonials__text {
    max-width: 217px;
    font-family: "Bitter", serif;
    font-size: 32px;
    line-height: 1.18;
    margin: 0 auto;
}




/* strong-points блок */

.strong-points {
    margin-left: 20px;
    margin-bottom: 151px;
}



    /* Fallback: flex для старых браузеров */
.strong-points__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 1560px;/* Чтобы контент внутри слайдера влез весь на широких экранах */
    padding: 0;
}

.strong-points__title {
    padding-left: 118px;
}

@supports (display: grid) {
    .strong-points__container {
        display: grid;
        grid-template-areas:
            "title"
            "slider";
        justify-content: center;
    }

    .strong-points__title {
        grid-area: title;
        text-align: left;
        padding-left: 118px;
    }

}

.strong-points__slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 21px;
    max-width: 100%;
}

@supports  (display: grid) {
    .strong-points__slider {
        grid-area: slider;
        display: grid;
        gap: 21px;
        grid-template-columns: minmax(335px, 335px) minmax(335px, 335px) minmax(450px, 554px) minmax(335px, 335px);
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        justify-self: center;
        max-width: 100%;
    }

}

.strong-points__image {

    width: 335px;
}

.strong-points__slider-item {
    flex: 0 0 auto;
}


.strong-points__slider-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;
    padding: 0px 9px 18px 9px;
    width: 450px;
}

.strong-points__strengths-list-title {
    line-height: 1;
    display: flex;
    align-items: flex-end;

}

.strong-points__strengths-list {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-end;
}

.strong-points__strengths-item {
    font-family: "Bitter", serif;
    font-size: 34px;
    line-height: 1.23;
}

/*  footer блок */
.footer__container {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 20px;
}

.footer {
    background-color: #000000;
}

.footer__contact-info {
font-style: normal;
    text-transform: uppercase;
    text-decoration: none;

    line-height: 1.6;
}

.footer__product-info {
    font-size: 18px;
}

.footer__product-info strong {
    font-size: 24px;
    font-weight: 900;
}
