@import '/css/fonts.css';

/* Общие стили  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.container {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 20px 0 20px;

}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 600;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
}


/* Header  */

.header {
    height: 135px;
}

.header__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-height: 135px
}


.logo {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 600;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 20px;/* ← Вот здесь задаётся расстояние между меню и иконкой */
}

.nav__list {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    display: flex;
    align-items: center;
    gap: 55px;
    list-style-type: none;


}

.header-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    color: transparent;
}


/* hero блок  */

.hero-section__title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0;
    text-align: center;
}


.hero {
    display: flex;
    background-image: url('../img/hero-section-bkg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
    align-items: center;
    min-height: 630px;

}

.hero__container {
    display: flex;
    background: #ffffff;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    min-width: 690px;
    min-height: 360px;
}

.hero-section__info {
    font-size: 20px;
    font-weight: 500;

}

.strong-points {
    display: none;
}


/* biography блок */


/* biography блок */
.biography {
    padding: 150px 137px;
}

.biography__container {
    display: flex;
    max-width: 1165px;
    padding: 0;
}

/*.biography__title {*/
/*  width: 12%;*/

.biography__title {
    /*transform: rotate(-90deg) translateX(-44%);*/
    writing-mode: sideways-lr;
    align-self: flex-start;
    margin: 0 80px 0 30px
}

.biography__image {
    width: 49%;
    object-fit: cover;
}


.biography__info {
    
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*gap: 36px;*/
}

.biography__name {
    line-height: 1.34;
}

.biography__role {
    font-size: 18px;
    font-weight: 500;
    margin: 36px 0 60px 0;
    line-height: 1.17;
}

.biography__quote::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 0;
    width: 20px;
    height: 6px;
    background: #000;
}

.biography__quote {
    position: relative;
    font-family: 'Bitter', serif;
    font-size: 26px;
    max-width: 370px;
    line-height: 1.19;
}

/* designers блок */

.designers {
    padding-left: 20px;

}

.designers__title {
    padding-bottom: 22px;
    padding-left: 119px;

}

.designers__item {
    line-height: 1.18;


}


.designers__skills {
    font-weight: 700;
}





.designers__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 572px repeat(3, 335px);
    gap: 20px;
    overflow-x: auto;
    justify-self: center;
    /* padding: 20px*/
    ;
    align-items: end;
    scroll-snap-type: x mandatory;
    /* Определяет контейнер как область прокрутки с привязкой по оси X */
    scroll-behavior: smooth;
    /* Добавляет плавность при прокрутке */
}

.designers__image {
    margin-bottom: 21px;
}

.designers__info {
    margin-left: 239px;
}

/* testimonials блок */
.testimonials {
    padding: 150px 0 150px;
}

.testimonials__container {
    display: grid;
    grid-template-columns: 11.5% 5.5% 32.5% min-content 29.5% 8.5%;
    justify-items: center;
}

.testimonials__site-name {
    font-weight: 700;
}

.testimonials__site {
    writing-mode: sideways-lr;
}

.testimonials__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.testimonials__left-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials__title {
    writing-mode: sideways-lr;
    align-self: flex-start;
    margin: 2px 73px 0 13px;
}


.testimonials__right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.testimonials__right-img {
    margin-top: 42px;
}



.testimonials__text {
    max-width: 217px;
    font-family: "Bitter", serif;
    font-size: 32px;
    line-height: 1.18;
    margin: 0 auto;
}




/* strong-points блок */
/* .strong-points__list-title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
    } */
.strong-points__list {
    font-family: 'Bitter', serif;
    font-size: 34px;
}

footer {
    font-weight: 500;
}
.address a {
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.product__info  {
    font-size: 18px;
}

.product__info span {
    font-size: 24px;
    font-weight: 900;
}