// Fonts
$font-main: 'Roboto', sans-serif;
$font-accent: 'Playfair Display', serif;
$font-quote: 'Bitter', serif;

// Colors
$black: #000000;
$white: #ffffff;

// Container & Grid
$container-max: 1440px;
$container-min: 350px;
$container-padding-desktop: 0 20px;
$container-padding-mobile: 0 16px;