@import '/fonts.css';

/* Общие стили  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
body {
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-size: 24px;
    font-weight: 700;
}

/* Header  */
.logo {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 600;
}

.nav ul {
    font-size: 24px;
    font-weight: 500;
}

.nav__icon {
    cursor: pointer;
}

/* hero блок  */
.hero-section__title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
}

.hero-section__info {
    font-size: 20px;
    font-weight: 500;
}
/* biography блок */

/* .biography h3 {
transform: rotate(-90.00deg);
} */

.biography__name {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
}

.biography__role {
    font-size: 18px;
    font-weight: 500;
}

.biography blockquote {
    font-family: 'Bitter', serif;
    font-size: 20px;
}

/* designers блок */

.designers__name {
    font-weight: 700;
    text-transform: uppercase;
    
}

.designers__skills {
    font-weight: 700;
}

/* testimonials блок */
.testimonials p {
    font-weight: 700;
}

.testimonials blockquote {
    font-family: 'Bitter',serif;
    font-size: 32px;
}
/* strong-points блок */
.strong-points__list-title {
    font-family: 'Playfair Display', serif;
    font-size: 86px;
    font-weight: 500;
    }
.strong-points__list {
    font-family: 'Bitter', serif;
    font-size: 34px;
    
}

footer {
    font-weight: 500;
}
.address a {
    font-style: normal;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.product__info  {
    font-size: 18px;
}
.product__info span {
    font-size: 24px;
    font-weight: 900;
}