.header {
  height: 135px;

  @include tablet {
    height: 82px;
  }

  &__container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $black;
    transition: all 0.3s ease-in-out;

    .modal-icon__img path {
      transition: fill 0.3s ease;
    }

    &:hover .modal-icon__img path {
      fill: $brown;
    }

    &:active .modal-icon__img path {
      outline: 1px solid $light-brown;
      fill: $light-brown;
    }

    &:focus:not(:active) {
      border-radius: 10px;
      outline: 1px solid $light-brown;

      .modal-icon__img path {
        fill: $brown;
      }
    }

    @include tablet {
      width: 89px;
    }
  }
}

.logo {
  font-size: clamp(32px, 8.03vw - 29.6px, 86px);
  line-height: 1.1;

  @include tablet {
    display: none;
  }
}

.nav {
  display: flex;

  @include tablet {
    width: 100%;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(16px, 4vw, 55px);
    margin: 0 20px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    white-space: nowrap;

    @include tablet {
      gap: 70px;
      margin: 0;
    }

    @include mobile {
      gap: 0;
      width: 100%;
      justify-content: space-around;
    }
  }

  &__item {
    text-align: center;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    // Состояния для десктопной (длинной) ссылки
    &:hover .nav__link-long::after {
      width: 100%;
    }

    &:active .nav__link-long {
      color: $light-brown;
      &::after {
        width: 0;
      }
    }

    // Состояния для мобильной (короткой) ссылки
    &:hover .nav__link-short {
      color: $brown;
    }

    &:active .nav__link-short {
      color: $light-brown;
    }

    // Общий фокус
    &:focus:not(:active) {
      outline: 1.5px solid $light-brown;
      border-radius: 5px;
    }
  }

  &__link-long {
    position: relative;
    display: inline-block;
    transition: color 0.3s ease;

    @include tablet {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 1px;
      width: 0;
      height: 2px;
      background: $black;
      transition: width 0.3s ease;
    }
  }

  &__link-short {
    display: none;

    @include tablet {
      display: inline-block;
      width: 12vw;
      font-family: $font-quote;
      font-size: 40px;
      font-weight: 400;
      color: inherit;
      transition: color 0.3s ease-in-out;
    }
  }
}
