.header {
    height: 135px;

    &__container {
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: space-between;
    }

    &-btn {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
        width: 50px;
        height: 50px;
        color: transparent;

        @include tablet {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 89px;
        }
    }

    @include tablet {
        height: 82px;
    }
}

.logo {
    font-size: clamp(32px, 8.03vw - 29.6px, 86px);
    line-height: 1.1;

    @include tablet {
        display: none;
    }
}

.nav {
    display: flex;

    @include tablet {
        width: 100%;
        justify-content: space-between;
        }


    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(16px, 4vw, 55px);
        margin: 0 20px;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.17;
        white-space: nowrap;

        @include tablet {
            gap: 70px;
            margin: 0;
        }

        @include mobile {
            gap: 0;
            width: 100%;
            justify-content: space-around;
        }
    }

    &__item {
        text-align: center;
    }

    &__link-long {
        @include tablet {
            display: none;
        }
    }

    &__link-short {
        display: none;

        @include tablet {
            display: inline-block;
            width: 12vw;
            font-family: $font-quote; // Bitter
            font-size: 40px;
            font-weight: 400;
        }
    }

    &__icon {
        @include mobile {
            display: block;
        }
    }

    @include mobile {
        width: 100%;
        justify-content: space-between;
    }
}