.testimonials {
    margin-top: 150px;
    margin-bottom: 150px;

    @include tablet {
        margin: 80px 0;
    }

    &__container {
        display: grid;
        grid-template-columns: 11% 6% 32% min-content 30% 9%;
        justify-items: center;

        @include tablet {
            grid-template-columns: 1fr;
            gap: 26px;
        }
    }

    &__site-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include tablet {
            flex-wrap: wrap;
            flex-direction: row;
            width: 100%;
            gap: 34px;
            order: 3;
        }
    }

    &__site-name {
        font-weight: 700;
    }

    &__site-item {
        @include vertical-text; // sideways-lr  
        @include tablet {
            flex: 1;
            writing-mode: horizontal-tb;
            transform: none;
        }
    }

    &__big-img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include tablet {
            display: none;
        }
    }

    &__title {
        @include vertical-text;
        align-self: flex-start;
        margin: 0 68px 0 25px;

        @include tablet {
            writing-mode: horizontal-tb;
            transform: none;
            text-align: right;
            margin: 0;
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        @include tablet {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
        }

        @include mobile {
            height: auto;
            flex-direction: column;
            align-items: center;
            gap: 18px;
        }
    }

    &__quote {
        @include tablet {
            margin-top: 28px;
        }

        @include mobile {
            width: 100%;
            margin: 0;
        }
    }

    &__text {
        max-width: 217px;
        font-family: $font-quote; // Bitter
        font-size: 32px;
        line-height: 1.18;
        margin: 0 auto;

        br {
            display: none;

            @include tablet {
                display: block;
            }

            &:nth-child(1) {
                @include mobile {
                    display: none;
                }
            }
        }

        @include tablet {
            max-width: 100%;
            font-size: 30px;
            font-weight: 300;
            justify-self: flex-start;
        }

        @include mobile {
            max-width: 342px;
            justify-self: center;
        }
    }

    &__img {
        margin-top: 42px;
        width: 100%;
        object-fit: cover;

        @include tablet {
            height: 100%;
            margin-top: 0;
        }

        @include mobile {
            height: 330px;
        }
    }

    &__spacer {
        @include tablet {
            display: none;
        }
    }
}


// picture {
//     @include tablet {
//         width: 100%;
//     }
// }