@import '../fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-main;
    font-size: 16px;
    line-height: normal;
    color: $black;
}

.container {
    max-width: $container-max;
    min-width: $container-min;
    margin: 0 auto;
    padding: $container-padding-desktop;

    @include tablet {
        padding: $container-padding-mobile;
        max-width: 768px;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}