h1,
h2 {
    font-family: $font-accent;
    font-size: 86px;
    line-height: 1.2;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;

    @include tablet {
        font-size: 46px;
        font-weight: 400;
    }
}

h3 {
    font-size: 24px;
    font-weight: 700;

    @include tablet {
        font-size: 18px;
    }
}

h1,
h2 {
    font-family: $font-accent;
    font-size: 86px;
    line-height: 1.2;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;

    @include tablet {
        font-size: 46px;
        font-weight: 400;
    }
}

h3 {
    font-size: 24px;
    font-weight: 700;

    @include tablet {
        font-size: 18px;
    }
}

h4 {
    font-weight: 700;
    text-transform: uppercase;
}