.biography {
    padding: 150px 137px;

    @include tablet {
        padding: 80px 0;
    }

    &__container {
        display: flex;
        max-width: 1165px;
        padding: 0;

        @include tablet {
            flex-direction: column;
            position: relative;
        }
    }

    &__title {
        @include vertical-text; 
        align-self: flex-start;
        margin: 0 80px 0 30px;

        @include tablet {
            writing-mode: horizontal-tb;
            transform: none; 
        }

        &-text {
            @include tablet {
                position: absolute;
                right: 0;
                margin: 0;
                padding: 0 16px 0 0;
            }

            @include mobile {
                padding: 0 25px 0 0;
            }
        }
    }

    &__image {
        width: 49%;
        object-fit: cover;

        @include tablet {
            max-height: 400px;
            width: 100%;
            order: 3;
        }
    }

    &__info {
        width: 39%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 36px;

        @include tablet {
            width: 100%;
            padding: 0 0 0 14px;
            order: 2;
        }

        @include mobile {
            padding-left: 18px;
        }
    }

    &__name {
        line-height: 1.33;

        &::before {
            @include tablet {
                content: "-";
            }
        }

        @include tablet {
            position: relative;
            font-weight: 400;
            font-size: 64px;
            margin-bottom: 35px;
            white-space: nowrap;
            order: 3;
        }

        br {
            @include tablet {
                display: none;
            }
        }
    }

    &__skills {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.17;

        @include tablet {
            margin: 0 0 23px 0;
        }
    }

    &__role {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.17;

        @include tablet {
            margin: 0;
        }
    }

    &__skill-list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: " / ";
        list-style-position: inside;

        @include tablet {
            list-style-type: "- ";
            flex-direction: column;
        }
    }

    &__list-item {
        &:first-child {
            list-style-type: none;

            @include tablet {
                list-style-type: "- ";
            }
        }
    }

    &__quote {
        position: relative;
        font-family: $font-quote; //  Bitter
        font-size: 26px;
        max-width: 377px;
        line-height: 1.19;

        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 6px;
            background: $black;
            margin-bottom: 15px;

            @include tablet {
                display: none;
            }
        }

        br {
            display: none;

            @include tablet {
                display: block;
            }
        }

        @include tablet {
            max-width: 100%;
            font-size: 30px;
            font-weight: 300;
            line-height: 1.2;
            margin-bottom: 85px;
        }

        @include mobile {
            margin-bottom: 30px;
        }
    }
}